{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li class="text-danger">{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro render_products(products) %}
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="alert-success">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Seller</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          {% for prod in products %}
            <tr>
              <td class="align-middle">
                <a href="/product-details/{{prod.id}}">{{prod}}</a>
              </td>
              <td class="align-middle">${{prod.price}}</td>
              <td class="align-middle">
                <a href="/seller-details/{{prod.owner.user_id}}">{{prod.owner}}</a>
              </td>
              <td class="align-middle">{{ prod.get_rating() }}/5.0</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endmacro %}

{% macro render_comments(comments) %}
<div class="column col-md-12 mt-3">
    {% for comment in comments %}
        <div class="comment-div">
          <div class="d-flex flex-row">
            <h5>{{comment.author}}:</h5>
            <h5 class="ml-3">{{comment.rating}} / 5.0</h5>
          </div>
          <div class="comment text-break" style="width:80%; min-width:500px">
              {{comment}}
          </div>
          <div class="create-time mt-1">
              Written at {{ comment.created_at }}
          </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endmacro %}